p { text-indent: 0; }

p, H1, H2, H3, H4, H5, H6, H7, H8, table, ul, dl, pre { margin-top: 1em;}

/* doesn't work apparently: */
dt {
  display:block;
  margin-top: 1em;
}

.pagebreak { page-break-before: always; }
#toc H3 {
  text-indent: 1em;
}
#toc .document {
  text-indent: 2em;
}
